
/* media queries */
@media (min-width:200px) and (max-width: 360px) {
    body{
        width: 380px;
    }
    .olx-logo-image{
        width: 2em;
        height : 2em;
    }
}    
 
@media (min-width:360px) and (max-width: 640px) {
body{
    width: 500px;
} 
.olx-logo-image{
    width: 2em;
    height : 2em;
}

}
@media (min-width:640px) and (max-width: 768px) {
    body{
        width: 600px;
    }
  .olx-logo-image{
        width: 2em;
        height : 2em;
    } 
}

@media (min-width: 768px) and (max-width:992px){
    body{
        width: 700px;
    }
  .olx-logo-image{
        width: 2em;
        height : 2em;
    }
}

@media (min-width: 992px) and (max-width:1200px) {
    body{
        width: 900px;
    }
  .olx-logo-image{
        width: 2em;
        height : 2em;
    }
}

.olx-logo-image{
    width: 3em;
    height : 3em;
}
.submit-ad-button{
    background-color:  #ff8000;
}
.my-account-btn{
    border-style: ridge;
    border-color: #f2f2f2;
}

.search-btn{
    background-color: #2e5cb8;
    width: 145px !important;
}
.search-input{
   width: 897px !important;
}
.search-div{
   background-color: #e0e0eb;
   /* opacity: 0.2; */
}
.building-icon{
   color: purple;
}
.Second-building-icon{
   color: red;
}
.car-icon{
   color: #2e5cb8;
}
.bike-icon{
   color: #ff8000;
}
.electronic-icon{
color: greenyellow;
}
.mobile-icon{
   color: purple;
}
.briefcase-icon{
   color: green;
}
.wrench-icon{
color: rgb(23, 154, 206);
}
.industry-icon{
   color: maroon;
}
.couch-icon{
   color: rgb(82, 206, 165); 
}
.animal-icon{
   color: #008080;
}
.books-icon{
   color:  #00b8e6;
}
.fashion-icon{
   color: #cc0088;
}
.kids-icon{
   color: #ffccee;
}


.div1{
    margin-left: 160px;
}

.div2{
    margin-left: 95px;
}
.div3{
    margin-left: 140px;
}
.input1{
     width:60% !important;
     border: 1px solid #d9d9d9;
     border-radius: 3px;
    
}
.category-button{
    background-color: white;
    border: 1px solid #d9d9d9;
}
.text-area{
    height: 140px;
    width: 400px;
    resize: none;
    overflow-y: hidden;
}
.phoneNumber {
    border: 1px solid #d9d9d9; 
    border-radius: 3px;
    width:470px; 
    margin-left:11%;
}
.province {
    border: 1px solid #d9d9d9; 
    border-radius: 3px;
    width:470px; 
    margin-left: 20px; 
}